.bg-image{
  height: 600px;
  background-image: url("../images/LINE_ALBUM_2022830_220902_21.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.swiper-wrapper{
  img{
    width: 600px;
    height: 800px;
  }
}